.emailList{
    
    flex: 1;
    overflow: scroll;
}

.emailList::-webkit-scrollbar{
    display: none;
}

.emailList{
    -ns-overflow-style: none;
    scrollbar-width: none;
}

.emailList_settings {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}

.emailList_section {
    position: sticky;
    display: flex;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    
}

.emailList_list {
    padding-bottom: 20%;
}